<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let user of users" class="welcome-card" (click)='handleUserClick($event.target, {id: user.id, picture: user.picture})'>
      <img src="/assets/images/{{user.picture}}" alt="{{user.name}} picture" />
      <ion-card-header>
        <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
        <ion-card-title>{{user.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Find my portofolio on <a href="http://{{user.website}}" (click)='$event.preventDefault()'>{{user.website}}</a></p>
      </ion-card-content>
    </ion-card>
</ion-content>
